.container {
    width: 100vw;
    height: 100vh;
    color: #412300;
    background: linear-gradient(160deg, #ffecb9, #ffb5a0);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
}

.question {
    margin-bottom: 1rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-align: center;
}

.description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.title,
.description,
.question {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.label,
.description {
    color: #743E00;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.buttonStart {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    color: #743E00;
    margin: 1rem;
    font-size: 1.2rem;
    background-color: #eaeaea95;
}

.buttonStart:hover,
.buttonStart:focus,
.buttonReturn:hover,
.buttonReturn:focus {
    border-color: #412300;
}

.buttonReturn {
    background-color: #eaeaea95;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    padding: 0.3rem 0.5rem;
    position: fixed;
    top: 0.9rem;
    left: 0.9rem;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    color: #743E00;
    font-size: 1rem;
    transform: rotate(180deg);
    background-color: #eaeaea95;
}

.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selectItem {
    min-width: 250px;
    max-width: 600px;
    display: inline-block;
    color: #412300;
    font-size: 1rem;
    margin: 0.5rem;
}

@media (max-width: 700px) {
    .main {
        padding: 6rem 0;
    }

    .title {
        line-height: 1;
        font-size: 3.1rem;
    }
}

@media (prefers-color-scheme: dark) {
    .container {
        background: linear-gradient(160deg, #664c00, #b32c00);
        color: #EFEFEF;
    }

    .label,
    .description {
        color: #E6E6E6;
    }
}