.logosHeader {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 2px;
}

.logoODSIA {
    position: absolute;
    top: 25px;
    right: 80px;
    white-space: nowrap;
}

.logoODSIA span {
    margin-right: 3px;
}

.logoUNFPA {
    position: absolute;
    top: 0;
    right: 0px;
    height: 4.5rem;
    width: 6rem;
}

.logoUNFPADark {
    display: none
}

@media (prefers-color-scheme: dark) {

    .logoUNFPADark {
        display: inline
    }
    
    .logoUNFPALight {
        display: none
    }
}