.container {
    width: 100vw;
    height: 100vh;
    color: #11291b;
    background: linear-gradient(160deg, #b3dfbd, #92c87d);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
}

.subTitle {
    margin: 0;
    line-height: 1;
    font-size: 2rem;
    text-align: center;
}

.question {
    margin-bottom: 1rem;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    text-align: center;
}

.description {
    margin: 2rem 0;
    line-height: 1.5;
    font-size: 1.5rem;
}

.questionCount {
    opacity: 0.5;
    font-size: 0.9rem;
}

.title,
.description,
.question,
.subTitle {
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.label,
.description,
.formField,
.formLabel,
.formField:focus~.formLabel {
    color: #204D33;
}

.subTitle strong {
    color: #204D3399;
}

.summary {
    line-height: 1.5;
    font-size: 1.2rem;
    padding: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 1rem;
    margin-bottom: 2rem;
    background-color: #eaeaea95;
    border-radius: 10px;
    color: #204D33;
    max-width: 800px;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 700px;
}

.formGroup {
    position: relative;
    padding: 15px 0 0;
    margin: 1rem;
}

.formField {
    font-family: inherit;
    max-width: 600px;
    border: 0;
    border-bottom: 2px solid #204d33;
    outline: 0;
    font-size: 1.3rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.inputNumber {
    font-family: inherit;
    width: 4rem;
    border: 0;
    border-bottom: 2px solid #204d33;
    outline: 0;
    font-size: 1rem;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
    margin: 0.5rem;
}

.inputNumber::placeholder {
    color: #204d3395;
}

.inputNumber::-webkit-inner-spin-button {
    opacity: 1
}

.formField::placeholder {
    color: transparent;
}

.formField:placeholder-shown~.formLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
}

.formField:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image-slice: 1;
}

.formField:focus~.formLabel {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    font-weight: 700;
}

.item {
    margin: 0.5rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttonStart {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    color: inherit;
    margin: 0.5rem;
    margin-top: 0rem;
    font-size: 1.2rem;
    color: #204d33;
    background-color: #eaeaea95;
}

.buttonStart:hover,
.buttonStart:focus,
.buttonReturn:hover,
.buttonReturn:focus {
    border-color: #11291b;
}

.buttonReturn {
    background-color: #eaeaea95;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    padding: 0.3rem 0.5rem;
    position: fixed;
    top: 0.9rem;
    left: 0.9rem;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    color: #204d33;
    font-size: 1rem;
    transform: rotate(180deg);
}

.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selectItem {
    min-width: 250px;
    max-width: 600px;
    display: inline-block;
    color: #11291b;
    margin: 0.5rem;
}

.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.selectItem {
    min-width: 250px;
    max-width: 600px;
    display: inline-block;
    margin: 0.5rem;
    color: #204d33;
}

.textResponse {
    width: 80%;
    max-width: 800px;
    height: 14rem;
    resize: none;
    margin: 2rem;
    background-color: #eaeaea95;
    border-radius: 10px;
    color: #204D33;
    padding: 1rem;
    border-color: #11291b;
    font-family: inherit;
    font-size: 1.2rem;
}

.textResponse:focus {
    box-shadow: 0 0 5px #204D33;
    outline: none !important;
}

.textResponse::placeholder {
    color: #204D3399;
}

.buttonPrevQuestion,
.buttonNextQuestion,
.listenButton {
    background-color: transparent;
    border-radius: 0.7rem;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    padding: 0.5rem;
    text-align: center;
    transition: color 100ms;
    color: #204d33;
    font-size: 1rem;
    background-color: #eaeaea95;
    min-width: 2.5rem;
}

.buttonPrevQuestion,
.buttonNextQuestion {
    margin: 1rem;
}

.listenButton {
    margin: 0;
    margin-bottom: 1rem;
}

.buttonPrevQuestion:disabled,
.buttonNextQuestion:disabled {
    color: #204d3399;
    cursor: initial;
}

.buttonPrevQuestion:enabled:hover,
.buttonNextQuestion:enabled:hover,
.listenButton:hover {
    border-color: #11291b;
}

.buttonPrevQuestion {
    transform: rotate(180deg);
}

.noAudioAlert {
    color: #204d3399;
    font-size: 0.8rem;
    margin: 4rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.posting {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    .container {
        background: linear-gradient(160deg, #1d4325, #477933);
        color: #EFEFEF;
    }

    .label,
    .description,
    .formField,
    .formLabel,
    .formField:focus~.formLabel {
        color: #E6E6E6;
    }

    .subTitle strong,
    .inputNumber::placeholder {
        color: #E6E6E699;
    }

    .formField,
    .inputNumber {
        border-bottom: 2px solid #E6E6E6;
    }

    .textResponse::placeholder, .noAudioAlert {
        color: #E6E6E699;
    }

    .summary,
    .textResponse {
        background-color: #11291b99;
        color: #E6E6E6;
    }
}