.container {
    width: 100vw;
    height: 100vh;
    color: #252C76;
    background: linear-gradient(160deg, #dddffb, #aaaddc);
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    overflow: scroll;
    position: absolute;
    top: 0;
    left: 0;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 3.5rem;
    text-align: center;
    margin-right: 1rem;
    margin-left: 1rem;
}

.grid {
    display: flex;
    align-items: flex-center;
    flex-wrap: wrap;
}

.module {
    margin: 1.5rem;
    color: inherit;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
}

.moduleDetails {
    color: inherit;
    width: 80vw;
    margin: auto;
    margin-top: 1rem;
}

.logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    font-size: 13px;
    font-weight: 100;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 2px;
}

.logoTraduciendo {
    overflow: hidden;
    width: 100%;
    height: 20vh;
}

.traduciendo {
    margin: 1rem;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 3rem;
}

.mensajeTraduccion {
    color: #454DAC99;
    margin-top: 2rem;
}

.buttonReturn,
.buttonCerrarDetalle {
    background-color: #eaeaea95;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    color: #454DAC;
}

.buttonCerrarDetalle {
    border-radius: 5px;
    padding: 0.1rem 0.3rem;
    font-size: 0.8rem;
}

.divCerrarDetalle {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem;
}

.buttonReturn {
    transform: rotate(180deg);
    position: fixed;
    top: 0.9rem;
    left: 0.9rem;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.textResponse {
    width: 100%;
    height: 40vh;
    resize: none;
    background-color: #dddffbff;
    border-radius: 10px;
    color: #454DAC;
    padding: 1rem;
    border-color: #252C76;
    font-family: inherit;
    font-size: 1.1rem;
}

.buttonReturn:hover,
.buttonReturn:focus,
.listenButton:hover,
.traducirButton:hover,
.buttonCerrarDetalle:hover,
.buttonVerMetas:hover {
    border-color: #252C76;
}

.textResponse:focus {
    box-shadow: 0 0 5px #454DAC;
    outline: none !important;
}

.textResponse::placeholder {
    color: #454DAC99;
}

.listenButton,
.traducirButton,
.buttonVerMetas {
    background-color: transparent;
    border-radius: 0.7rem;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    padding: 0.5rem;
    text-align: center;
    transition: color 100ms;
    color: #454DAC;
    font-size: 1rem;
    background-color: #aaaddc99;
    min-width: 2.5rem;
    margin: 1rem;
    margin-left: 0;
    margin-right: 0;
    min-height: 2.5rem;
}

.buttonVerMetas {
    border-radius: 0.5rem;
    min-height: 0rem;
    padding: 0.5rem;
    font-size: 0.9rem;
    margin: 0.5rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    padding-bottom: 0.6rem;
}

.traducirButton {
    float: right;
}

.traducirButton:disabled {
    color: #454DAC99;
    cursor: initial;
}

.traducirButton:disabled:hover {
    border-color: #eaeaea;
}

.noAudioAlert {
    color: #454DAC;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    text-align: center;
}

.resultado {
    margin: 1.5rem;
    margin-top: 0;
    margin-left: 0;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    padding: 0;
}

.resultado button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    padding: 0;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative;
}

.resultado:hover,
.buttonMetaExt:hover {
    box-shadow: 0 0 5px #454DAC;
}

.resultados {
    width: 100%;
    text-align: center;
}

.divVerMetas {
    width: 100%;
    text-align: center;
}

.resultadoDetalle {
    background: #dddffb70;
    border-radius: 8px;
    line-height: 1.5;
}

.bodyDetalle {
    margin-bottom: 1.5rem;
    padding: 1rem;
    margin-top: -2.5rem;
}

.detalleObjetivo {
    padding-right: 1.5rem;
}

.detalleObjetivo a {
    font-size: 1.2rem;
}

.detalleBar {
    display: inline-block;
    height: 0.75rem;
    background-color: #454DAC;
    border-radius: 0.5rem;
}

.descripcionObjetivo,
.descripcionMeta {
    font-weight: 400;
    font-size: 1rem;
    padding-bottom: 2px;
    line-height: 1.3;
}

.descripcionMeta {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    width: calc(100% - 100px);
    float: left;
}

.imgMeta {
    width: 75px;
    height: 75px;
    overflow: hidden;
    position: relative;
    float: left;
    border-radius: 10px;
    margin-right: 1rem;
}

.containerMeta {
    margin-top: 0.5rem;
    position: relative;
}

.contMeta {
    overflow: hidden;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
}

.buttonMeta,
.buttonMetaExt {
    background-color: transparent;
    border: none;
    border-radius: 0.5rem;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    padding-top: 0.4rem;
    padding-bottom: 0.3rem;
    width: 100%;
}

.buttonMetaExt {
    padding: 0;
    width: 100px;
    height: 122px;
    margin-left: 1rem;
    margin-bottom: 4.7rem;
    position: relative;
    border-radius: 0;
}

.buttonMetaExt div {
    position: relative;
    top: 95px;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

.buttonMetaExt p {
    margin: 0;
    padding-top: 7px;
    color: #eaeaea;
    font-size: 0.9rem;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #252C76ff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.buttonMetaExt:hover .dot {
    box-shadow: 0 0 4px #454DAC;
}

.logoObjetivo {
    cursor: pointer;
    padding: 0;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    float: left;
    margin-right: 1rem;
}

.retroalimentacion {
    position: absolute;
    bottom: 0.5rem;
    right: 0.1rem;
    font-size: 0.8rem;
}

.buttonMeta {
    margin-bottom: 1rem;
}

.buttonRetro {
    box-sizing: border-box;
    cursor: pointer;
    font-family: inherit;
    text-align: center;
    transition: color 100ms;
    vertical-align: baseline;
    background-color: #454DAC50;
    border: 1px solid #454DACBB;
    font-size: 0.9rem;
    margin: 0;

    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.buttonRetro:hover {
    background-color: #454DACBB;
}

.buttonRetro:disabled {
    cursor: initial;
    opacity: 0.6;
    background-color: #454DAC;
}

.buttonRetroL {
    border-radius: 0.5rem 0 0 0.5rem;
}

.buttonRetroR {
    border-radius: 0 0.5rem 0.5rem 0;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #eaeaeaee;
    text-align: center;
    padding: 0;
    border-radius: 0.5rem;

    position: absolute;
    z-index: 1;

    bottom: -1rem;
    right: 0.1rem;
    margin-right: 70px;
}

.retroalimentacion:hover+.tooltiptext {
    visibility: visible;
}

.tooltiptext p {
    color: #454DAC;
    font-size: 0.8rem;
    line-height: 1;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 700px) {
    .main {
        padding: 6rem 0;
    }

    .title {
        line-height: 1.1;
        font-size: 3.1rem;
    }
}

@media (prefers-color-scheme: dark) {

    .container {
        background: linear-gradient(160deg, #555887, #888bba);
        color: #EFEFEF;
    }

    .textResponse::placeholder,
    .noAudioAlert,
    .mensajeTraduccion {
        color: #E6E6E699;
    }

    .textResponse {
        background-color: #252C7699;
        color: #E6E6E6;
    }

    .resultadoDetalle {
        background: #252C7630;
        color: #E6E6E6;
    }

    .detalleBar {
        background-color: #dddffb;
    }

    .resultado:hover,
    .buttonMetaExt:hover {
        box-shadow: 0 0 5px #E6E6E6;
    }

    .buttonMetaExt:hover .dot {
        box-shadow: 0 0 4px #E6E6E6;
    }

    .buttonMetaExt p {
        color: #252C76;
    }

    .dot {
        background-color: #eaeaeaff;
    }

    .buttonRetro {
        background-color: #eaeaea95;
        border: 1px solid #eaeaeabb;
        color: #454DAC;
    }

    .buttonRetroS {
        background-color: #eaeaea;
    }

    .buttonRetro:hover {
        background-color: #eaeaeabb;
    }

    .buttonRetro:disabled {
        background-color: #eaeaea;
    }
}

@media (max-width: 1000px) {
    .grid {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .module,
    .moduleDetails {
        width: 90vw;
    }

}